body.companies-show {
  .pull-right { margin-right: 0px; }

  .company-title {
    font-size: 80px;
  }

  div.col-xs-11 > section {
    background-color: $white;
    padding-right: 45px;
    padding-bottom: 30px;
  }

  p {
    font-family: $font-body-regular;
    font-size: 15px;
    font-weight: bold;
    color: $dark-grey;
  }

  hr {
    border-top: 3px solid $white;
  }

  .div > .col-xs-4 {
    padding-left: 0px;
  }

  ul.actions {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    li:first-of-type {
      margin-right: 10px;
    }

    li:only-of-type {
      margin-right: 0px;
    }

    .btn {
      width: 100px;
      margin: 0px;
    }

  }
  .opportunity-title, .opportunity-status {
    font-family: $font-body-regular;
    text-transform: uppercase;
  }
  .tab-lists {
    @include no-style;

    text-align: center;
    margin-bottom: 35px;
    font-family: $font-heading;
    letter-spacing: 1.5px;
    font-size: 15px;

    li {
      margin: 0px 10px;

      &:hover, &.active {
        text-decoration: underline;
      }
    }
  }

  .company-navigation {
    margin: 0;
  }

  .company-details {
    @include no-style;

    // padding-left: 50px;
    // border-left: 3px solid $white;

    li { margin-bottom: 30px; }
  }
  .social-links {
      text-align: center;
      margin-top: 10px;
      @include inline-list;

      li:first-of-type {
        padding-left: 0px;
      }
      li {
        padding-right: 15px;
        a > i {
          font-size: 20px;
        }
        i {
          font-size: 20px;
        }
      }
    }
}

body.companies-index {

  a:hover { text-decoration: none; }

  #network, #pages { color: $light-grey; }

  .btn-user-action {
    color: #a41b1b;
  }

  .btn-user-connected {
    color: #7d6b67;
  }

  .btn-user-action:hover {
    color: #c69898 ;
  }

  .img-sm {
    border-radius: 50px;
  }

  .btn-default {
    width: 360px;
    margin: 20px;
  }
}
