.event-header {

  .text-center {
    height: 270px;
  }
}

.sub_event_row {
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 3px solid #eeeeee;
    width: 97%;
  }

  .sub_event_date {
    text-align: right;
  }
}

.event-name, .event-dates {
  font-family: $font-heading;
  font-size: 35px;
}

.event-type {
  letter-spacing: 0px;
}

.event-details {
  @include no-style;

  li {
    margin-bottom: 30px;
  }

  li.event-company {
    text-align: center;

    img {
      width: 100%;
    }
  }

  h2 {
    color: $brand-primary;
    font-size: 21px;
    margin-bottom: 0px;
  }

  p {
    margin-bottom: 0px;
  }
}

.img-container-cover {
  img {
    width: 105%;
    position: relative;
    left: -20px;
  }

  a {
    position: relative;
    margin-right: 10px;
    left: 370px;
    bottom: 50px;
    font-size: 12px !important;
  }
}

.cover-transparent {
  opacity: 0.5;
}

.events-edit, .events-new {
  #accordion {
    .fields-row, .add-new-item-row {
      padding-left: 15px;
      padding-right: 15px;
    }
    .section-name {
      margin: 0;
    }
    .fa-chevron-down {
      margin-top: -18px !important;
    }
  }
}