.internal-server-error-exception, .not-found-exception {
  text-align: center;

  h1 {
    font-size: 40px;
    color: #BD0101;
  }

  p {
    font-size: 20px;
    color: black;

    a {
      color: #999999;
    }
  }

  .btn-home {
    font-style: bold;
    font-size: 20px;
    color: black;
    border: 3px solid black;
    border-radius: 0px;
    margin-top: 25px;
  }

}
