.internal-server-error-exception, .not-found-exception {
  text-align: center;
  line-height: 80px;

  h1 {
    font-family: Bebas Neue;
    font-size: 40px;
    color: #BD0101;
  }

  p {
    font-family: Roboto Condensed;
    font-size: 20px;
    color: black;

    a {
      color: #999999;
    }
  }

  .btn-home {
    font-family: Roboto Condensed;
    font-style: bold;
    font-size: 30px;
    color: black;
    border: 5px solid black;
    border-radius: 0px;
  }

}
