body.professionals-index {

  a:hover { text-decoration: none; }

  #network, #pages { color: $light-grey; }

  #profile { border-bottom: 3px solid black; }

}


body.professionals-index {

  .card:hover {
    header {
      position: relative;

      .card-front-facing {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.1;
      }

      .card-back-facing {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block !important;
      }
    }
  }

  img.img_responsive {
    border-radius: 100px;
  }

  ul.list-inline {
    font-family: "BebasNeue";
    font-size: 15px;
    color: #4d4d4d;
  }

  .btn-default {
    width: 360px;
    margin: 20px;
  }
}
