.img-container {
  width: 250px;
  height: 250px;
  margin: 10px;
  display: inline-block;
}

.img-sm {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #ccc;
}

.img-series-artwork {
  width: 200px;
  height: 200px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #ccc;
}

.img-md {
  width: 260px;
  height: 230px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #ccc;
}

.cover-image {
  width: 555px;
  height: 300px;
  margin: 10px;
  display: inline-block;
}

.company-sm-image {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid #ccc;
}
