body.pages-about {

  .register-interest-button {
    width: 100%;
    text-align: center;

    .btn {
      font-size: 12px;
      padding: 17px 75px;
    }
  }

  h2.title {
    font-family: $font-heading;
    letter-spacing: 1.5px;
    color: $light-grey;
    font-size: 27px;
    margin-bottom: 30px;
  }

  .logo {
    text-align: center;
    margin-top: 80px;

    h1 {
      font-size: 140px;
    }

    h3 {
      font-size: 36px;
    }
  }

  .content {
    @include make-row();

    .pull-right { margin-right: 0px; }

    div {
      //text-align: justify;
      font-size: 16px;
    }

  }

}
