.logo {
  margin-top: 100px;
  font-family: $font-heading;
  letter-spacing: 1.5px;
  color: $brand-primary;

  a{
    &:hover, &:active, &:focus, &:visited { text-decoration: none; }
  }

  h1 {
    color: $brand-primary;
    font-size: 110px;
    margin: 0px;
    margin-bottom: -10px;
  }

  h3 {
    margin: 0px;
    margin-left: 5px;
    font-size: 28px;
    line-height: 1.3;
  }
}
