// Bootstrap Overrides

$brand-primary: #262626;
$secondary-color: #B3B3B3;
$brand-warning: #B96303 !default;

$btn-primary-color: #960303;
$btn-primary-color-active: #c69898;

$dark-grey: #333745;
$medium-grey: #737373;
$grey: #999999;
$light-grey: #b3b3b3;

$medium-white: #d9d9d9;
$white: #f2f2f2;
$light-white: #f7f7f7;
$black: #000000;

$facebook: #3c5a96;

// Fonts

@font-face {
  font-family: 'BebasNeue';
  src: font-url('BebasNeue.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Light';
  src: font-url('RobotoCondensed-Light.ttf');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: font-url('RobotoCondensed-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: font-url('RobotoCondensed-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

$font-heading: 'BebasNeue';
$font-body-light: 'RobotoCondensed-Light';
$font-body-regular: 'RobotoCondensed-Regular';
$font-body-semibold: 'RobotoCondensed-Bold';
